# Rust
target
debug
**/*.rs.bk


# OS
.DS_Store
Thumbs.db

# Editors
.vscode
.idea
*.swp
*.swo

# Project
.env
.env.*
! .env.example
*.db
*.sqlite
*.sqlite3
*.db-shm
*.db-wal
/data
/tmp
*.log

# Wasm
*.wasm

# Test coverage
/api/target/llvm-cov-target
/api/target/llvm-cov/
*.profraw

.volumes


# Node & Package Managers
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js
.next/
out/
build/
dist/

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Environment Variables (Next.js specific)
.env*.local
